@* (EN) Table for orders managed by admins | (BG) Таблица за поръчки оправлявана от администратори *@ 
@model List<Restaurant_Manager.Models.Order>

<table class="order-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Placed On</th>
            <th>Total</th>
            <th>Status</th>
            <th>Items</th>
            @if (User.IsInRole("customer"))
            {
                <th style="text-align: center;">Cancel</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>#@order.Id</td>
                <td>@order.CreatedAt.ToString("g")</td>
                <td>@order.TotalPrice.ToString("C")</td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <select class="select-status" onchange="changeOrderStatus(@order.Id, this)">
                            <option value="pending" selected="@(order.Status == "pending")">Pending</option>
                            <option value="preparing" selected="@(order.Status == "preparing")">Preparing</option>
                            <option value="served" selected="@(order.Status == "served")">Served</option>
                            <option value="completed" selected="@(order.Status == "completed")">Completed</option>
                            <option value="cancelled" selected="@(order.Status == "cancelled")">Cancelled</option>
                        </select>
                    }
                    else{
                        <span><strong>@order.Status</strong></span>
                    }
                </td>
                <td>
                    <ul class="order-items">
                        @foreach (var item in order.OrderItems)
                        {
                            <li>@item.MenuItem.Name x @item.Quantity</li>
                        }
                    </ul>
                </td>
                <td style="text-align: center;">
                    @if (User.IsInRole("customer"))
                    {
                        @if (order.Status == "pending")
                        {
                            <form asp-action="CancelOrder" asp-controller="Order" method="post">
                                <input type="hidden" name="id" value="@order.Id" />
                                <button type="submit" class="cancel-btn">Cancel</button>
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
