@model List<Reservation>

<table class="reservation-table">
    <thead>
        <tr>
            <th>Table#</th>
            <th>People</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Area</th>
            <th>Status</th>
            <th>Cancel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Table?.TableNumber</td>
                <td>@r.NumberOfPeople</td>
                <td>@r.ReservationTime.ToString("g")</td>
                <td>@r.DurationType</td>
                <td>@r.SeatingArea</td>
                <td style="text-transform: capitalize;">@r.Status</td>
                <td>
                    @if (r.Status == "pending")
                    {
                        <form asp-controller="Reservation" asp-action="Cancel" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@r.Id" />
                            <button type="submit" class="cancel-btn">Cancel</button>
                        </form>
                    }
                    else{
                      <div style="text-align:center;">-</div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
