@* (EN) Table for reservations managed by admins | (BG) Таблица за резервации оправлявана от администратори *@ 
@model List<Reservation>

<table class="reservation-table">
    <thead>
        <tr>
            <th>Table#</th>
            <th>People</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Area</th>
            <th>Status</th>
            @if (User.IsInRole("customer"))
            {
                <th style="text-align: center;">Cancel</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Table?.TableNumber</td>
                <td>@reservation.NumberOfPeople</td>
                <td>@reservation.ReservationTime.ToString("g")</td>
                <td>@reservation.DurationType</td>
                <td>@reservation.SeatingArea</td>
                <td>
                    @if (User.IsInRole("admin"))  
                    {
                        <select class="form-select" onchange="changeReservationStatus(@reservation.Id, this)">
                            <option value="pending" selected="@((reservation.Status == "pending") ? "selected" : null)">Pending</option>
                            <option value="confirmed" selected="@((reservation.Status == "confirmed") ? "selected" : null)">Confirmed</option>
                            <option value="completed" selected="@((reservation.Status == "completed") ? "selected" : null)">Completed</option>
                            <option value="cancelled" selected="@((reservation.Status == "cancelled") ? "selected" : null)">Cancelled</option>
                        </select>
                    }
                    else
                    {
                        <span><strong>@reservation.Status</strong></span>
                    }
                </td>
                <td style="text-align: center;">
                    @if (User.IsInRole("customer"))
                    {
                        @if (reservation.Status == "pending")
                        {
                            <form asp-action="Cancel" asp-controller="Reservation" method="post">
                                <input type="hidden" name="id" value="@reservation.Id" />
                                <button type="submit" class="cancel-btn">Cancel</button>
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
