@model List<Restaurant_Manager.ViewModels.StaffReservationUserViewModel>

@{
    ViewData["Title"] = "Staff Reservations";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/staff/staff-userlist.css" asp-append-version="true" />
}

<div class="staff-user-list">
    <h2>Staff Reservations</h2>

    <table class="staff-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Table(s)</th>
                <th>View Reservations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.TableNumbers</td>
                    <td>
                        <a href="/Staff/StaffUserReservations/@user.UserId" class="view-button">View Reservations</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
